{% extends "inc/dev_base.html" %}
{% block content %}

    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Логи
                    </h6>
                    <div style="overflow: scroll; height: 80vh">
                    {{ logs|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}