{% extends "inc/no_menu_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4"><a href="/lk/choice/">Назад</a> - Настройки</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">

                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item"><a class="nav-link" href="/lk/settings"><i
                            class="bx bx-user me-1"></i>Основное</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/lk/settings/security/change-password"><i
                            class="bx bx-bell me-1"></i>Безопасность</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lk/settings/security/devices"><i
                            class="bx bx-link-alt me-1"></i>Устройства</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lk/settings/linking/mosru"><i
                            class="bx bx-link-alt me-1"></i>МЭШ</a></li>
                </ul>
            </div>
            <div class="bg-light rounded h-100 p-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Для разработчиков</h6>

                <div class="form-group">
                    <label for="apikey">API ключ</label>
                    <input type="text" id="apikey" class="form-control" disabled>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getCookie(cookieName) {
            let cookie = {};
            document.cookie.split(';').forEach(function (el) {
                let [key, value] = el.split('=');
                cookie[key.trim()] = value;
            })
            return cookie[cookieName];
        }

        const token = getCookie("token");
        const apikey = document.querySelector("#apikey")
        apikey.value = token;
    </script>
{% endblock content %}
