{% extends "inc/no_menu_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-24 col-xl-24">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="mb-4">Установка</h4>
                    <p>Мы рады предложить вам инновационную систему установки, позволяющую гибко управлять вашей школой. Наша система установки состоит из двух основных этапов:</p>
<p>1. Создание пользователя администратора: Легко создавайте учетные записи администраторов, чтобы дать пользователям полный доступ к платформе управления мероприятиями. Пройдя несколько простых шагов, вы получите доступ к административной учетной записи и сможете начать управлять событиями.</p>
<p>2. Добавление комплексов школ: Наша платформа позволяет гибко управлять информацией о школах и их комплексах. Вы можете легко добавлять, редактировать и удалять информацию о школьных комплексах, а также управлять доступом к информации в соответствии с вашими потребностями.</p>

<p>Мы уверены, что наша система установки даст вам возможность эффективно управлять школой и мероприятиями. Спасибо за выбор нашей платформы, и мы уверены, что она будет полезной для вас и ваших пользователей.</p>
                    <a href="/setup/roles/" class="btn btn-primary">Начать</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
